*{
    margin: 0;
    padding: 0;
    
}
#wrapper{
    height: 100vh;
    overflow-x:hidden;
    overflow-y: auto;
    perspective: 1px;
}
.container{
    height: 90%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    z-index: -1;
}
.background{
    transform: translateZ(-80px) scale(100);
    
}
.foreground{
    position: relative;
    transform: translateZ( -20px) scale(30);
    top: 3000px;
    
}
.background,.foreground{
    position: absolute;
    height:90%;
    width: 100%;
    z-index:-1;
    object-fit: cover;
    
}
h1{
    position: absolute;
    top:7rem;
    left: 30%;
    transform: translateX(-100px);
    letter-spacing: 5px;
    font-size: 8rem;
    color: white;
    text-shadow:  0 0 5px rgba(0,0,0,0.3);


}

section{
    background-color: rgba(45,45,45);
    color: white;
    padding: 5rem 0;

}
.secheading{
    font-size: 5rem;
    padding:0 2rem;
}
.text{
    font-size: 1.5rem;
    padding:0 5rem;
    margin: 3rem 0;
    
}
.desc{
    position: absolute;
    background-color: white;
    padding: 0.5rem  2.5rem;
    top: 50%;
    left:50%;
    transform: translateX(-40%) translateY(-40%);
    color: black;
    font-size: 2rem;
    font-weight: 600px;

}
.bg{
    position: relative;
    width: 100%;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height:500px;
}
.bg1{
    background-image: url(flexbox/biking.jpg);

}
.bg2{
    background-image: url(flexbox/para.jpg);

}
.bg3{
    background-image: url(flexbox/surffing.jpg);

}
.bg4{
    background-image: url(flexbox/swimming.jpg);

}
.bg5{
    background-image: url(flexbox/horse.jpg);

}
.bg6{
    background-image: url(flexbox/climb.jpg);

}
